@import "bourbon";

//Global
@import "reset";
@import "mixin";
@import "fonts";
@import "vars";
@import "animations";

//Pages
@import "pages/home";
@import "pages/work";
@import "pages/services";
@import "pages/contact";

//Components
@import "components/header";
@import "components/footer";
@import "components/overlay";

html, body {
  @include size(100vw 100vh);
  overflow:hidden;
  -webkit-overflow-scrolling:touch;
}

body {
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    @include position(fixed, null null rem(30) 50%);
    z-index: 21;
    @include transform(translateX(-50%));
    @include size(rem(15));
    background: url('/images/arrow-down.png') center center no-repeat;
    background-size: contain;
    @include transition(all 0.3s ease-in-out 0.3s);

    @include breakpoint('large') {
      display: none;
    }
  }

  &.body--0 {
    &:before {
      @include filter(brightness(1));
    }
  }

  &.body--1 {
    &:before {
      @include filter(brightness(0));
    }
  }

  &.body--2 {
    &:before {
      @include filter(brightness(1));
    }
  }

  &.body--3 {
    &:before {
      opacity: 0;
    }
  }
}

.slide {
  @include transition(top 1.5s cubic-bezier(0.42, 0, 0, 1));
  -webkit-overflow-scrolling: touch;

  &--current {
    height: 100vh;
  }

  &--show-out {
    top: -100vh;
  }
}

.dots {
  @include position(fixed, 50% rem(27) null null);
  @include transform(translateY(-50%));
  z-index: 100;
  display: none;

  @include breakpoint('large') {
    display: block;
  }

  &__list {
    &__item {
      @include padding(null null rem(12));

      a {
        display: block;
        @include position(relative, null null null null);
        @include size(rem(20));

        &:before {
          @include position(absolute, 50% null null 50%);
          @include transform(translate(-50%, -50%));
          content: '';
          display: block;
          @include size(rem(3));
          border-radius: 100%;
          background: $secondary-color;
          @include filter(brightness(1));
          @include transition(all 0.3s ease-in-out 0.3s);
        }
      }

      &--active {
        a {
          &:before {
            @include size(rem(8));
            overflow: hidden;
            border-radius: 100%;
          }
        }
      }
    }
  }

  &--0 {
    .dots__list__item {
      &:nth-child(1) {
        a {
          &:before {
            @include size(rem(8));
            overflow: hidden;
            border-radius: 100%;
          }
        }
      }
    }
  }

  &--1 {
    .dots__list__item {
      &:nth-child(2) {
        a {
          &:before {
            @include size(rem(8));
            overflow: hidden;
            border-radius: 100%;
          }
        }
      }

      a {
        &:before {
          @include filter(brightness(0));
        }
      }
    }
  }

  &--2 {
    .dots__list__item {
      &:nth-child(3) {
        a {
          &:before {
            @include size(rem(8));
            overflow: hidden;
            border-radius: 100%;
          }
        }
      }
    }
  }

  &--3 {
    .dots__list__item {
      &:nth-child(4) {
        a {
          &:before {
            @include size(rem(8));
            overflow: hidden;
            border-radius: 100%;
          }
        }
      }

      a {
        &:before {
          @include filter(brightness(0));
        }
      }
    }
  }
}

.is-mobile {
  display: block;

  @include breakpoint('large') {
    display: none;
  }
}

.is-desktop {
  display: none;

  @include breakpoint('large') {
    display: block;
  }
}
