.footer {
  display: none;
  @include position(fixed, null null rem(40) 0);
  z-index: 100;
  @include size(100% auto);
  @include padding(rem(20) rem(35) null);
  @include clearfix;

  @include breakpoint('large') {
    display: block;
  }

  &__line {
    @include position(absolute, null null rem(1) rem(435));
    @include size(rem(40) rem(1));
    background: $secondary-color;
    @include filter(brightness(1));
    @include transition(all 0.3s ease-in-out 0.3s);

    &--2 {
      left: rem(900);
    }
  }

  &__lg {
    float: left;
    @include size(rem(83) rem(42));
    background: url('/images/ft-text.png') 0 0 no-repeat;
    background-size: contain;
    @include filter(brightness(1));
    @include transition(all 0.3s ease-in-out 0.3s);
  }

  &__lang {
    float: right;
    @include position(relative, rem(28) null null null);
    @include filter(brightness(1));
    @include transition(all 0.3s ease-in-out 0.3s);

    font-family: $gotham-medium;
    font-size: rem(14);
    color: $secondary-color;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &--1,
  &--3 {
    .footer__line {
      @include filter(brightness(0));
    }

    .footer__lg {
      @include filter(brightness(0));
    }

    .footer__lang {
      @include filter(brightness(0));
    }
  }
}
