.hd {
  @include position(fixed, 0 null null 0);
  @include size(100% rem(60));
  z-index: 100;

  &__content {
    @include clearfix;
    @include padding(rem(13) rem(20) null);

    @include breakpoint('small-extra') {
      @include padding(rem(23) rem(30) null);
    }

    @include breakpoint('large') {
      @include padding(rem(20) rem(35) null);
    }
  }

  &__lg {
    float: left;
    @include size(rem(90) rem(35));
    background: url('/images/lg.png') center center no-repeat;
    background-size: contain;
    @include filter(brightness(1));
    @include transition(all 0.3s ease-in-out 0.7s);

    @include breakpoint('small-extra') {
      @include size(rem(100) rem(35));
    }

    @include breakpoint('large') {
      @include size(rem(120) rem(45));
    }
  }

  &__hamb {
    float: right;
    @include position(relative, rem(8) null null null);
    @include size(rem(27));
    background: url('/images/hamb.png') center center no-repeat;
    background-size: contain;
    @include filter(brightness(1));
    @include transition(all 0.3s ease-in-out 0.7s);

    @include breakpoint('large') {
      display: none;
    }
  }

  &__nav {
    display: none;
    float: left;
    @include padding(rem(10) null null rem(100));

    @include breakpoint('large') {
      display: block;
      padding-top: 0;
      padding-left: rem(220);
    }

    &__list {
      @include clearfix;

      &__item {
        float: left;
        @include padding(null rem(110) null null);

        a {
          @include filter(brightness(1));
          @include transition(all 0.3s ease-in-out 0.7s);

          font-family: $gotham-medium;
          font-size: rem(13);
          color: $secondary-color;
          text-transform: lowercase;

          @include breakpoint('large') {
            font-size: rem(11);
          }
        }
      }
    }
  }

  &--0down,
  &--2down {
    .hd__lg {
      @include transition-delay(0s);
    }

    .hd__nav__list__item {
      a {
        @include transition-delay(0s);
      }
    }
  }

  &--1down {
    .hd__lg {
      @include transition-delay(0s);
      @include filter(brightness(0));
    }

    .hd__nav__list__item {
      a {
        @include transition-delay(0s);
        @include filter(brightness(0));
      }
    }
  }

  &--1,
  &--3 {
    .hd__lg,
    .hd__hamb {
      @include filter(brightness(0));
    }

    .hd__nav__list__item {
      a {
        @include filter(brightness(0));
      }
    }
  }
}
