.home {
  @include position(absolute, 0 null null 0);
  @include size(100% 100vh);
  background: $main-color;
  z-index: 20;

  &__content {
    @include position(absolute, null null rem(150) 0);
    @include size(100% auto);
    @include padding(rem(70) rem(20) null);

    @include breakpoint('small-extra') {
      @include padding(rem(70) rem(30) null);
    }

    @include breakpoint('large') {
      top: rem(160);
      left: rem(372);
      bottom: inherit;
      @include padding(0 0 null);
    }

    &__title {
      font-family: $gotham-medium;
      font-size: rem(30);
      line-height: rem(27);
      color: $secondary-color;
      word-wrap: break-word;
      letter-spacing: rem(-2);
      -webkit-font-smoothing: antialiased;
      opacity: 0;
      @include position(relative, rem(20) null null null);
      @include transition(all 0.4s ease-in-out 0.5s);

      @include breakpoint('small-extra') {
        font-size: rem(40);
        line-height: rem(37);
      }

      @include breakpoint('medium') {
        max-width: 70%;

        font-size: rem(50);
        line-height: rem(51);
      }

      @include breakpoint('large') {
        font-size: rem(40);
        line-height: rem(42);
        letter-spacing: 0;
      }

      span {
        letter-spacing: rem(-6);
      }
    }

    &__description {
      @include position(relative, rem(20) null null null);
      @include padding(rem(30) null null null);

      font-family: $gotham-light;
      font-size: rem(13);
      line-height: rem(16);
      color: $secondary-color;
      -webkit-font-smoothing: antialiased;
      opacity: 0;
      @include transition(all 0.4s ease-in-out 0.7s);

      @include breakpoint('small-extra') {
        font-size: rem(15);
        line-height: rem(18);
      }

      @include breakpoint('medium') {
        @include padding(rem(50) null null null);
        max-width: 70%;

        font-size: rem(16);
        line-height: rem(19);
      }

      @include breakpoint('large') {
        font-size: rem(40);
        line-height: rem(40);
      }
    }
  }

  ::-moz-selection {
    color: $main-color;
    background: $secondary-color;
  }

  ::selection {
    color: $main-color;
    background: $secondary-color;
  }

  &.home--init {
    .home__content__title {
      opacity: 1;
      top: 0;
    }

    .home__content__description {
      opacity: 1;
      top: 0;
    }
  }

  &.slide--current {
    .home__content__title {
      opacity: 1;
      top: 0;
      @include transition-delay(1s);
    }

    .home__content__description {
      opacity: 1;
      top: 0;
      @include transition-delay(1.2s);
    }
  }

  &.slide--show-out {
    .home__content__title {
      opacity: 0;
      top: 50px;
      @include transition-delay(0.3s);
    }

    .home__content__description {
      opacity: 0;
      top: 20px;
      @include transition-delay(0.3s);
    }
  }
}

.body--0down {
  .home {
    .home__content {
      padding-top: 0;
      bottom: 180px;
    }

    &.slide--current {
      .home__content__title {
        opacity: 1;
      }

      .home__content__description {
        opacity: 1;
      }
    }
  }
}
