.home {
  @include position(relative, 0 null null 0);
  // @include size(100% 100vh);
  //background: $main-color;
  //z-index: 20;

  &:before {
    content: '';
    display: block;
    @include position(absolute, 50% null null 50%);
    @include transform(translate(-50%, -50%));
    @include size(calc(100vw - 80px));
    background: url('/images/circle.png') center center no-repeat;
    background-size: contain;
    opacity: 0;
    @include transition(all 0.3s ease-in-out);

    @include breakpoint('medium') {
      @include size(calc(100vw - 180px));
    }

    @include breakpoint('large') {
      @include size(rem(600));
    }
  }

  &:after {
    content: '';
    display: block;
    @include position(absolute, 0 null null 0);
    @include size(100%);
    background: url('/images/dot.png') 0 0 repeat;
    background-size: rem(20);
    opacity: 0.2;
    pointer-events: none;
  }

  &__content {
    @include position(absolute, 50% null null 0);
    @include transform(translateY(-50%));
    @include size(100% auto);
    @include padding(0 rem(20) null);

    @include breakpoint('small-extra') {
      @include padding(0 rem(20) null);
    }

    @include breakpoint('large') {
      left: rem(35);
      bottom: inherit;
      @include padding(0 0 null);
    }

    &__title {
      font-family: $gotham-medium;
      font-size: rem(40);
      line-height: rem(37);
      color: $main-color;
      word-wrap: break-word;
      letter-spacing: rem(-2);
      -webkit-font-smoothing: antialiased;
      opacity: 0;
      @include position(relative, rem(20) null null null);
      @include transition(all 0.3s ease-in-out);

      @include breakpoint('small-extra') {
        font-size: rem(48);
        line-height: rem(44);
      }

      @include breakpoint('medium') {
        max-width: 100%;

        font-size: rem(90);
        line-height: rem(75);
        letter-spacing: rem(-5);
      }

      @include breakpoint('large') {
        font-size: rem(90);
        line-height: rem(75);
        letter-spacing: rem(-5);
      }

      span {
        letter-spacing: rem(-6);

        @include breakpoint('medium') {
          letter-spacing: rem(-10);
        }
      }
    }

    &__description {
      @include position(relative, rem(20) null null null);
      @include padding(rem(30) null null null);

      font-family: $gotham-light;
      font-size: rem(18);
      line-height: rem(21);
      color: $main-color;
      -webkit-font-smoothing: antialiased;
      opacity: 0;
      @include transition(all 0.4s ease-in-out 0.7s);

      // @include breakpoint('small-extra') {
      //   font-size: rem(15);
      //   line-height: rem(18);
      // }

      @include breakpoint('medium') {
        @include padding(rem(50) null null null);

        font-size: rem(32);
        line-height: rem(30);
      }

      @include breakpoint('large') {
        font-size: rem(32);
        line-height: rem(30);
      }
    }
  }

  ::-moz-selection {
    color: $secondary-color;
    background: $main-color;
  }

  ::selection {
    color: $secondary-color;
    background: $main-color;
  }

  &.home--start {
    .home__content__title {
      opacity: 0;
    }

    .home__content__description {
      opacity: 0;
    }
  }

  // &.home--init {
  //   .home__content__title {
  //     opacity: 1;
  //     top: 0;
  //     @include transition-delay(1s);
  //
  //     @include breakpoint('large') {
  //       @include transition-delay(0.6s);
  //     }
  //   }
  //
  //   .home__content__description {
  //     opacity: 1;
  //     top: 0;
  //     @include transition-delay(1.5s);
  //
  //     @include breakpoint('large') {
  //       @include transition-delay(0.8s);
  //     }
  //   }
  // }

  &.active {
    &:before {
      opacity: 1;
      @include transition-delay(0.6s);
    }

    .home__content__title {
      opacity: 1;
      top: 0;
      @include transition-delay(0.8s);

      @include breakpoint('large') {
        @include transition-delay(0.6s);
      }
    }

    .home__content__description {
      opacity: 1;
      top: 0;
      @include transition-delay(1.3s);

      @include breakpoint('large') {
        @include transition-delay(0.8s);
      }
    }
  }
  //
  // &.slide--show-out {
  //   .home__content__title {
  //     opacity: 0;
  //     top: 50px;
  //     @include transition-delay(0.3s);
  //   }
  //
  //   .home__content__description {
  //     opacity: 0;
  //     top: 20px;
  //     @include transition-delay(0.3s);
  //   }
  // }
}

// .body--0down {
//   .home {
//     .home__content {
//       padding-top: 0;
//       bottom: 180px;
//     }
//   }
// }
