.home {
  @include position(relative, null null null null);
  @include size(100% 100vh);
  background: $main-color;

  &__content {
    @include position(absolute, null null rem(130) 0);
    @include size(100% auto);
    @include padding(rem(70) rem(20) null);

    &__title {
      font-family: $gotham-medium;
      font-size: rem(40);
      line-height: rem(44);
      color: $secondary-color;
      word-wrap: break-word;
    }

    &__description {
      @include padding(rem(50) null null null);

      font-family: $gotham-light;
      font-size: rem(14);
      line-height: rem(17);
      color: $secondary-color;
    }
  }
}
