.services {
  @include position(absolute, 0 null null 0);
  @include size(100% 100vh);
  background: $main-color;
  z-index: 18;

  &__content {
    @include position(absolute, 50% null null 0);
    @include transform(translateY(-50%));
    @include size(100% auto);
    @include padding(rem(70) rem(20) null);

    @include breakpoint('large') {
      top: rem(160);
      left: rem(220);
      @include transform(translateY(0));
      @include padding(0 0 null);
    }

    @include breakpoint('super-extra-large') {
      left: rem(410);
    }

    &__mobile {
      display: block;

      @include breakpoint('medium') {
        display: none;
      }
    }

    &__desktop {
      display: none;

      @include breakpoint('medium') {
        display: block;
      }
    }

    &__title {
      font-family: $gotham-medium;
      font-size: rem(30);
      line-height: rem(30);
      color: $secondary-color;
      word-wrap: break-word;

      @include breakpoint('small-extra') {
        font-size: rem(40);
        line-height: rem(44);
      }

      @include breakpoint('medium') {
        max-width: 70%;

        font-size: rem(40);
        line-height: rem(41);
      }

      @include breakpoint('large') {
        max-width: 60%;
        font-size: rem(40);
        line-height: rem(41);
      }

      @include breakpoint('super-extra-large') {
        max-width: 60%;
        font-size: rem(50);
        line-height: rem(51);
      }

      &:nth-child(2) {
        padding-top: rem(40);
      }
    }

    &__description {
      @include padding(rem(30) null null null);

      font-family: $gotham-light;
      font-size: rem(14);
      line-height: rem(17);
      color: $secondary-color;

      @include breakpoint('small-extra') {
        @include padding(rem(50) null null null);
      }

      @include breakpoint('medium') {
        @include padding(rem(50) null null null);
        max-width: 70%;

        font-size: rem(16);
        line-height: rem(19);
      }

      @include breakpoint('large') {
        max-width: 60%;

        font-size: rem(18);
        line-height: rem(21);
      }

      span {
        @include breakpoint('medium') {
          display: block;
          padding-bottom: rem(2);
        }
      }
    }
  }

  ::-moz-selection {
    color: $main-color;
    background: $secondary-color;
  }

  ::selection {
    color: $main-color;
    background: $secondary-color;
  }
}
