.services {
  @include position(absolute, 0 null null 0);
  @include size(100% 100vh);
  background: $main-color;
  z-index: 18;

  &__content {
    @include position(absolute, 50% null null 0);
    @include transform(translateY(-50%));
    @include size(100% auto);
    @include padding(rem(70) rem(20) null);

    @include breakpoint('small-extra') {
      @include padding(rem(70) rem(30) null);
    }

    @include breakpoint('large') {
      top: rem(160);
      left: rem(372);
      @include transform(translateY(0));
      @include padding(0 0 null);
    }

    &__mobile {
      display: block;

      @include breakpoint('medium') {
        display: none;
      }
    }

    &__desktop {
      display: none;

      @include breakpoint('medium') {
        display: block;
      }
    }

    &__title {
      font-family: $gotham-medium;
      font-size: rem(36);
      line-height: rem(33);
      color: $secondary-color;
      word-wrap: break-word;
      letter-spacing: rem(-2);
      -webkit-font-smoothing: antialiased;

      @include breakpoint('small-extra') {
        font-size: rem(40);
        line-height: rem(37);
      }

      @include breakpoint('medium') {
        font-size: rem(40);
        line-height: rem(41);
      }

      @include breakpoint('large') {
        font-size: rem(40);
        line-height: rem(42);
        letter-spacing: 0;
      }

      &:nth-child(2) {
        padding-top: rem(40);
      }

      span {
        letter-spacing: rem(-6);
      }
    }

    &__description {
      @include padding(rem(30) null null null);

      font-family: $gotham-light;
      font-size: rem(14);
      line-height: rem(17);
      color: $secondary-color;

      @include breakpoint('small-extra') {
        @include padding(rem(30) null null null);

        font-size: rem(15);
        line-height: rem(18);
      }

      @include breakpoint('medium') {
        @include padding(rem(50) null null null);
        max-width: 70%;

        font-size: rem(16);
        line-height: rem(19);
      }

      @include breakpoint('large') {
        font-size: rem(16);
        line-height: rem(22);
      }

      span {
        @include breakpoint('medium') {
          display: block;
          padding-bottom: rem(2);
        }

        @include breakpoint('large') {
          @include padding(rem(50) null rem(15) null);
        }
      }

      &:last-child {
        padding-top: rem(10);
      }
    }
  }

  ::-moz-selection {
    color: $main-color;
    background: $secondary-color;
  }

  ::selection {
    color: $main-color;
    background: $secondary-color;
  }
}
