.services {
  @include position(absolute, 0 null null 0);
  @include size(100% 100vh);
  background: $main-color;
  z-index: 18;

  &__content {
    @include position(absolute, 50% null null 0);
    @include transform(translateY(-50%));
    @include size(100% auto);
    @include padding(rem(70) rem(20) null);

    @include breakpoint('small-extra') {
      @include padding(rem(70) rem(30) null);
    }

    @include breakpoint('large') {
      top: rem(160);
      left: rem(372);
      @include transform(translateY(0));
      @include padding(0 0 null);
    }

    &__mobile {
      display: block;

      @include breakpoint('medium') {
        display: none;
      }

      .services__content__description {
        &:nth-child(2) {
          display: none;

          @include breakpoint('small-landscape') {
            display: block;
          }
        }

        &:nth-child(3) {
          padding-top: 20px;

          @include breakpoint('small-landscape') {
            padding-top: 10px;
          }
        }
      }
    }

    &__desktop {
      display: none;

      @include breakpoint('medium') {
        display: block;
      }
    }

    &__title {
      font-family: $gotham-medium;
      font-size: rem(30);
      line-height: rem(27);
      color: $secondary-color;
      word-wrap: break-word;
      letter-spacing: rem(-2);
      -webkit-font-smoothing: antialiased;
      opacity: 0;
      @include position(relative, rem(20) null null null);
      @include transition(all 0.4s ease-in-out 1.3s);

      @include breakpoint('small-extra') {
        font-size: rem(40);
        line-height: rem(37);
      }

      @include breakpoint('medium') {
        font-size: rem(40);
        line-height: rem(41);
      }

      @include breakpoint('large') {
        font-size: rem(40);
        line-height: rem(42);
        letter-spacing: 0;
      }

      &:nth-child(2) {
        padding-top: rem(40);
      }

      span {
        letter-spacing: rem(-6);
      }
    }

    &__description {
      @include position(relative, rem(20) null null null);
      @include padding(rem(30) null null null);

      font-family: $gotham-light;
      font-size: rem(13);
      line-height: rem(16);
      color: $secondary-color;
      -webkit-font-smoothing: antialiased;
      opacity: 0;
      @include transition(all 0.4s ease-in-out 1.5s);

      @include breakpoint('small-extra') {
        @include padding(rem(30) null null null);

        font-size: rem(15);
        line-height: rem(18);
      }

      @include breakpoint('medium') {
        @include padding(rem(50) null null null);
        max-width: 70%;

        font-size: rem(16);
        line-height: rem(19);
      }

      @include breakpoint('large') {
        font-size: rem(16);
        line-height: rem(22);
      }

      span {
        @include breakpoint('medium') {
          display: block;
          padding-bottom: rem(2);
        }

        @include breakpoint('large') {
          @include padding(rem(50) null rem(15) null);
        }
      }

      &:last-child {
        padding-top: rem(10);
      }
    }
  }

  ::-moz-selection {
    color: $main-color;
    background: $secondary-color;
  }

  ::selection {
    color: $main-color;
    background: $secondary-color;
  }

  &.slide--current {
    .services__content__title {
      opacity: 1;
      top: 0;
    }

    .services__content__description {
      opacity: 1;
      top: 0;
    }
  }

  &.slide--show-out {
    .services__content__title {
      @include transition-delay(0s);
    }

    .services__content__description {
      @include transition-delay(0s);
    }
  }
}
