<section class="home">
  <div class="home__content">
    <h3 class="home__content__title">–– We’re a creative innovation-ledproduction partner.</h3>
    <p class="home__content__description">A design-driven and solution-focussed production company interested in creating and developing meaningful experiences that can transform brands and their businesses while bringing value to people's lives.</p>
  </div>
</section>

<section class="work">
  <div class="work__content">
    asdasd
  </div>
</section>

<section class="services">
  <div class="services__content">
    asdasd
  </div>
</section>

<section class="contact">
  <div class="contact__content">
    asdasd
  </div>
</section>
