<section class="home slide">
  <div class="home__content">
    <h3 class="home__content__title">–– We’re a creative innovation-led production partner.</h3>
    <p class="home__content__description">A design-driven and solution-focussed production company interested in creating and developing meaningful experiences that can transform brands and their businesses while bringing value to people's lives.</p>
  </div>
</section>

<section class="work slide">
  <div class="work__content">
    <h3 class="work__content__title">–– We’rean integrated team thatbelievesin creative, collaborative, interactiveand funchallenges.</h3>
    <p class="work__content__description">Work coming soon!</p>
  </div>
</section>

<section class="services slide">
  <div class="services__content">
    <div class="services__content__mobile">
      <h3 class="services__content__title">–– We offer a complete set of creative and production services.</h3>
      <p class="services__content__description">From strategy &amp; conceptingto the execution. We love to create innovative products and experiences.</p>
      <p class="services__content__description">Servicies: Digital Experiences/Strategy and Insight/Product &amp; Brand Innovation Visual Design/User Experience/Digital Platforms/Content Creation/AV</p>
    </div>
    <div class="services__content__desktop">
      <h3 class="services__content__title">–– We offer a complete set of creative and production services.<br> From strategy &amp; concepting to the execution.</h3>
      <h3 class="services__content__title">We love to create innovative products and experiences.</h3>
      <p class="services__content__description"><span>Other servicies:</span><br>Digital Experiences<br>Strategy and Insight<br>Product &amp; Brand Innovation<br>Visual Design<br>User Experience<br>Digital Platforms<br>Content Creation<br>A/V</p>
    </div>
  </div>
</section>

<section class="contact slide">
  <div class="contact__content">
    <h3 class="contact__content__title">–– Got<br> an idea?</h3>
    <h3 class="contact__content__title">Write us at <a href="mailto:hello@serial.studio" target="_blank">hello@serial.studio</a></h3>
  </div>
  <p class="contact__description">Also follow us on:<br><a href="" target="_blank">Instagram</a> &amp; <a href="" target="_blank">Facebook</a></p>
</section>

<div class="dots">
  <ul class="dots__list">
    <li class="dots__list__item dots__list__item--active"><a href="#"></a></li>
    <li class="dots__list__item"><a href="#"></a></li>
    <li class="dots__list__item"><a href="#"></a></li>
    <li class="dots__list__item"><a href="#"></a></li>
  </ul>
</div>
